<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Boot Welcome Page</title>
</head>
<body>
	<h1>Hello World !</h1>


	<h3>Enter Name</h3>

	<form action="Welcome">
		<label for="fname">First name:</label><br> 
			<input type="text" id="fname" name="fname" value="King"><br> 
			<label for="lname">Last name:</label><br> 
			<input type="text" id="lname" name="lname" value="Venky"><br>
		<br> <input type="submit" value="Submit">
	</form>

<h1> Add the below two numbers</h1>
     <form action="/add">
		<input type="text" name="t1"><br> <input type="text"
			name="t2"><br> <input type="submit">
	</form>
	
<h1> Sub the below two numbers</h1>
     <form action="/sub"
           method = "get">
		<input type="text" name="Stringa" id = "Stringa"><br> 
		<input type="text" name="Stringb" id = "Stringb"><br> 
		<input type="submit">
	</form>	
</body>
</html>